absl-py==1.4.0
addict==2.4.0
aiohttp==3.8.5
aiosignal==1.3.1
ansi2html==1.8.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
apptools==5.2.1
argcomplete==3.1.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astroid==2.8.2
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
av==10.0.0
av2==0.2.1
backcall==0.2.0
beautifulsoup4==4.12.2
biopython==1.81
black==23.7.0
bleach==6.0.0
blessed==1.20.0
cachetools==5.3.1
carla==0.9.12
casadi==3.5.5
ccimport==0.3.7
cffi==1.15.1
charset-normalizer==2.0.12
click==8.0.3
cloudpickle==1.3.0
cmake==3.28.3
colorama==0.4.6
colorlog==6.7.0
comm==0.1.3
configargparse==1.5.5
configobj==5.0.8
cumm==0.5.1
cumm-cu113==0.2.9
cycler==0.10.0
cython==3.0.0
dash==2.11.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses==0.6
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
distlib==0.3.7
docker-pycreds==0.4.0
easydict==1.10
einops==0.4.1
envisage==7.0.3
exceptiongroup==1.1.2
executing==1.2.0
fastjsonschema==2.17.1
filelock==3.12.2
fire==0.4.0
flake8==6.0.0
flash-attn==0.2.2
flask==2.2.5
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.6.0
future==0.18.2
gitdb==4.0.10
gitpython==3.1.32
google-api-core==2.11.1
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-cloud-bigquery==3.11.4
google-cloud-core==2.3.3
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
gpustat==1.1.1
grpcio==1.56.2
grpcio-status==1.56.2
gym==0.26.2
gym-notices==0.0.8
h5py==3.4.0
huggingface-hub==0.21.4
hydra==2.5
hydra-core==1.3.2
idna==3.3
imageio==2.9.0
importlib-metadata==6.7.0
importlib-resources==5.12.0
iniconfig==2.0.0
ipykernel==6.23.3
ipython==8.12.2
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
isort==5.9.3
itsdangerous==2.1.2
jedi==0.18.2
jinja2==3.1.2
joblib==1.3.1
jsonpointer==2.4
jsonschema==4.17.3
jupyter==1.0.0
jupyter-client==8.3.0
jupyter-console==6.6.3
jupyter-core==5.3.1
jupyter-events==0.6.3
jupyter-server==2.7.0
jupyter-server-terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
kiwisolver==1.3.2
kornia==0.6.12
lark==1.1.1
lazy-loader==0.3
lazy-object-proxy==1.6.0
llvmlite==0.31.0
lxml==4.9.3
lyft-dataset-sdk==0.0.8
markdown==3.4.3
markdown-it-py==3.0.0
markupsafe==2.1.3
matplotlib==3.3.4
matplotlib-inline==0.1.6
mayavi==4.8.1
mccabe==0.7.0
mdurl==0.1.2
mistune==2.0.5
mmcv-full==1.4.0
mmdet==2.14.0
mmengine==0.8.2
mmsegmentation==0.14.1
model-index==0.1.11
motmetrics==1.1.3
multidict==6.0.4
multiscaledeformableattention==1.0
mypy-extensions==0.4.3
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.4.0
nbformat==5.5.0
nest-asyncio==1.5.6
networkx==2.2
ninja==1.10.2.3
nntime==0.1.1
notebook==6.5.4
notebook-shim==0.2.3
nox==2023.4.22
numba==0.49.0
numpy==1.19.5
nuscenes-devkit==1.1.10
nvidia-ml-py==12.535.133
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.16.2
onnxruntime==1.3.0
open3d==0.16.0
opencv-python==4.5.1.48
opendatalab==0.0.9
openmim==0.3.9
ordered-set==4.1.0
overrides==7.3.1
packaging==23.1
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pccm==0.3.4
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.0.0
pip==24.2
pkgutil-resolve-name==1.3.10
platformdirs==3.8.0
plotly==5.15.0
pluggy==1.2.0
plyfile==1.0
portalocker==2.3.2
prettytable==3.8.0
prometheus-client==0.17.1
prompt-toolkit==3.0.38
proto-plus==1.22.3
protobuf==4.23.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.9.1
pycocotools==2.0.6
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.18.0
pyface==8.0.0
pyflakes==3.0.1
pygame==2.5.2
pyglet==1.5.0
pygments==2.15.1
pyparsing==2.4.7
pypcd==0.1.1
pyproj==3.5.0
pyquaternion==0.9.9
pyrsistent==0.19.3
pysam==0.21.0
pytest==7.4.0
python-json-logger==2.0.7
python-lzf==0.2.4
pytorch-lightning==1.2.5
pytz==2023.3
pywavelets==1.1.1
pyyaml==6.0
pyzmq==25.1.0
qtconsole==5.4.3
qtpy==2.3.1
regex==2021.10.8
requests==2.27.1
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
rsa==4.9
rust==0.1.0
safetensors==0.4.2
scikit-image==0.19.3
scikit-learn==1.3.0
scipy==1.5.4
seaborn==0.12.2
send2trash==1.8.2
sentry-sdk==1.39.1
setproctitle==1.3.3
setuptools==68.0.0
shapely==1.8.5
sharedarray==3.2.1
shellcheck-py==0.7.2.1
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
spconv-cu113==2.1.25
stable-baselines3==0.8.0
stack-data==0.6.2
sumolib==1.18.0
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboardx==2.6.1
termcolor==1.1.0
terminado==0.17.1
terminaltables==3.1.10
thop==0.1.1-2209072238
threadpoolctl==3.1.0
tifffile==2021.10.10
timm==0.9.16
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
torch==1.10.0+cu113
torch-scatter==2.1.2
torchaudio==0.10.0+cu113
torchmetrics==0.11.4
torchvision==0.11.1+cu113
tornado==6.3.2
tqdm==4.65.0
traci==1.18.0
traitlets==5.9.0
traits==6.4.1
traitsui==8.0.0
trimesh==2.35.39
typing-extensions==4.7.1
ultralytics==8.0.147
uri-template==1.3.0
urllib3==1.26.18
virtualenv==20.24.0
vtk==9.2.6
wandb==0.16.1
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
werkzeug==2.2.3
wheel==0.40.0
widgetsnbextension==4.0.7
wrapt==1.12.1
yapf==0.40.1
yarl==1.9.2
zipp==3.15.0
